.App {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.nav_button {
  cursor: pointer;
  border-radius: 38px;
  padding: 14px 20px;
  background: #41444b;
  color: #f6f4e6;
  border: none;
  outline: 1px solid #41444b;
  transition: all 0.3s ease;
  margin-right: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
  transition: all 0.3s ease;
}

.active {
  background: #fddb3a;
  outline: #fddb3a;
  color: #41444b;
}
